{% extends "posts/base.html" %}

{% block content %}
    <section class="container posts">
        {% for post in posts %}
            <a href="{% url 'post_detail' pk=post.pk %}" class="link__wrapper">
                <article class="post">
                    <div class="post__date">
                        <p>Publicado: {{ post.published_date }}</p>
                    </div>
                    <h2 class="post__title">{{ post.title }}</h2>
                    <p>{{post.text|linebreaksbr|truncatewords:10}}</p>
                </article>
            </a>
        {% endfor %}
    </section>
{% endblock %}

